@import "../../styles/utils/index";

.header {
  @include text-title-md;
}

.gameView {
  max-width: 550px;
  justify-content: center;
  margin: 24px auto;
}

.announcement {
  margin-top: 32px;
  text-align: center;
}

.victory {
  color: $orange;
}

.interactions {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.button {
  @include text-body;
  @include rounded-4;
  cursor: pointer;
  background-color: $orange;
  color: $white;
  outline: none;
  border: none;
  height: 64px;
  line-height: 64px;
  min-width: 120px;

  &:disabled {
    cursor: not-allowed;
    background-color: $gray;
  }
}
