@import "../../styles/utils/index";

.header {
  @include text-title-md;
  width: 100%;
  height: 80px;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $orange;
}

.profile {
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s ease;

  &:hover {
    border-bottom: 2px solid $white;
  }
}

.gameView {
  max-width: 650px;
  padding: 0 32px;
  justify-content: center;
  margin: 24px auto;
}

.announcement {
  margin-top: 32px;
  text-align: center;
}

.victory {
  margin-top: 8px;
  color: $orange;
}

.interactions {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.button {
  @include text-body;
  @include rounded-4;
  cursor: pointer;
  background-color: $orange;
  color: $white;
  outline: none;
  border: none;
  height: 48px;
  line-height: 48px;
  min-width: 120px;
  transition: all 0.2s ease;

  &:hover {
    background-color: $orange-dark;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $gray;
  }

  &.ghostButton {
    background-color: transparent;
    color: $orange;
    border: 1px solid $orange;

    &:hover {
      color: $orange-dark;
      border: 1px solid $orange-dark;
    }
  }
}

.profile {
  cursor: pointer;
}
