@import "../styles/utils/index";

.content {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.title {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  text-transform: uppercase;
  text-align: center;
  border: 1px solid black;
  border-bottom: none;
  margin: 0;
  padding: 24px 0;
}

.board {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-template-rows: repeat(5, minmax(0, 80px));
  gap: 1px;
  background-color: $black;
  border: 1px solid $black;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  background-color: $white;
  color: $black;
  @include text-title-md;

  &.marked {
    background-color: darken($orange, 10%);
    color: $white;
  }
}
